:root {
  --primary-font: 'Rajdhani', sans-serif;
  --light-color: #FFFFFF;
  --dark-color: #333333;
  --primary-color: #72b848;
  --boton-color: #97da61;
  --secondary-color: #f3f3f3;
  --link-color: #7aa3e5;
  --firts-background: #7eddcd;
  --second-background: #6b99e2;
  --third-background: #8b7fdf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--primary-font);
  color: var(--dark-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.main-page {
  background-color: var(--primary-color);
  padding: 20px 18px 0;
  background-image: url("./../assets/svg/zwoosh8.svg"),linear-gradient(120deg, #a6e76b 0%, #3a8724 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-bar ul {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-bar .nav-item a {
  color: var(--light-color);
}

.middle {
  min-block-size: calc(100vh - 38px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container img{
  inline-size: 148px;
  block-size: 70px;
}

.middle .principal-title {
  margin-block-start: 45px;
  margin-block-end: 25px;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  color: var(--light-color);
}

.primary-button {
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: var(--light-color);
  border: 2px solid var(--light-color);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.primary-button.icon-plus span {
  display: inline-block;
  margin-inline-end: 12px;
  background-image: url("https://i.postimg.cc/MKxVKpdX/plus.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  inline-size: 1.6rem;
  block-size: 1.6rem;
  vertical-align: middle;
}

.middle p {
  margin: 8px 0;
}

.middle p a {
  color: var(--light-color);
  font-size: 1.5rem;
  font-weight: 400;
}

/* This is the second section of the page */

.front-content {
  padding: 120px 18px;
}

.front-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description-container h2 {

  font-size: 3.2rem;
  font-weight: 400;
  text-align: center;
  margin: 20px 0;
}

.description-container p {
  margin: 6px;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  margin: 6px 0;
}

.secondary-button {
  display: block;
  inline-size: 140px;
  margin: 10px auto;
  text-align: center;
  padding: 12px;
  background-color: var(--boton-color);
  color: var(--light-color);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8rem;
  border-radius: 5px;
}

.secondary-button:hover {
  transform: scale(1.1);
  transition-duration: 500ms;
}

.description-container p a {
  color: var(--link-color);
}

.image-container {
  margin: 40px 0;
}

.image-container img {
  inline-size: 100%;
}

/* This is the about section */

.about-container {
  padding: 120px 18px;
  background-color: var(--secondary-color);
  text-align: center;
}

.about-container h3 {
  margin: 25px 0;
  font-weight: 400;
  font-size: 3.6rem;
}

.about-container p {
  margin: 6px 0 15px;
  font-weight: 400;
  font-size: 2rem;
}

/* This is the feature sectio */

.feature-container {
  padding: 60px 18px;
  text-align: center;
}

.feature-card {
  margin: 60px 0;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 11px 0px rgba(186, 186, 186, 0.5);
}

.feature-container h4 {
  margin: 15px;
  font-weight: 400;
  font-size: 2.4rem;
}

.feature-container p {
  margin: 10px 0;
  padding: 0 15px;
  font-weight: 400;
  font-size: 1.5rem;
}

.feature-container picture {
  display: block;
}

.feature-container picture img {
  block-size: 130px;
}

.button-recomendation {
  display: inline-block;
  inline-size: initial;
  margin: 0;
  padding: 2px 10px;
  background-color: var(--link-color);
}